<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uca.network.extension.mapper.floatingip.DeviceFloatingIpVfwMapper">

    <!--<resultMap id="deviceFloatingVfwMap" type="com.uca.network.extension.mapper.floatingip.dto.DeviceFloatingVfwDto">
        <result column="id" property="id"/>
        <result column="dept_name" property="deptName"/>
        &lt;!&ndash;
         collection定义关联集合类型的属性的封装规则
           ofType:指定集合里面元素的类型
          &ndash;&gt;
        <collection property="employees" ofType="com.yefengyu.mybatis.entity.Employee" javaType="java.util.ArrayList">
            <result column="id" property="id"/>
            <result column="last_name" property="lastName"/>
        </collection>
    </resultMap>-->


    <insert id = "insertDeviceFloatingIpVfw" parameterType="com.uca.network.extension.mapper.floatingip.dto.DeviceFloatingVfwDto"
            useGeneratedKeys="true" keyProperty="id">
        insert into vfw_floatingip
        (
        floating_ip_address,
        tx_averateLimit,
        rx_averateLimit,
        fixed_ip_address,
        vpn_instance_id,
        acl_name,
        address_group_id,
        address_group_name,
        type
        )
        values
        (
        #{floatingIpAddress},
        #{txAverateLimit},
        #{rxAverateLimit},
        #{fixedIpAddress},
        #{vpnInstanceId},
        #{aclName},
        #{addressGroupId},
        #{addressGroupName},
        #{type}
        )
    </insert>



    <select id="queryDeviceFloatingIpVfwByAddress" resultType="com.uca.network.extension.mapper.floatingip.dto.DeviceFloatingVfwDto">
        select
        from device_floatingip_vfw a
        left join device_floatingip_vfw_ip_num b
        on a.floating_ip_address = b.floating_ip_addres
        and left join device_floatingip_vfw_subnet c
        on a.floating_ip_address = c.floating_ip_address
        where a.floating_ip_address = #{floatingIpAddress}
    </select>

   <!-- <select id="queryFloatingIpVfwByAddress">
        select * from vfw_floatingip where floating_ip_address = #{floatingIpAddress}
    </select>-->

    <delete id="deleteDeviceFloatingIpVfwByAddress">
        delete from device_floatingip_vfw where floating_ip_address = #{floatingIpAddress}
    </delete>

    <delete id="deleteDeviceFloatingIpVfwIpNumByAddress">
        delete from device_floatingip_vfw_ip_num where floating_ip_address = #{floatingIpAddress}
    </delete>

    <delete id="deleteDeviceFloatingIpVfwSubnetByAddress">
        delete from device_floatingip_vfw_subnet where floating_ip_address = #{floatingIpAddress}
    </delete>


</mapper>

