<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uca.network.extension.mapper.floatingip.DeviceFloatingipRouteMapper">


    <select id="queryDeviceFloatingipRouteByParam">
        select * from device_floatingip_route
        where 1 = 1
        <if test="deviceIp!=null">
            and device_ip = #{deviceIp}
        </if>
        <if test="floatingIpAddress!=null">
            and floating_ip_address = #{floatingIpAddress}
        </if>
    </select>


    <insert id = "insertDeviceFloatingipRoute" parameterType="com.uca.network.extension.mapper.floatingip.dto.DeviceFloatingipRouteDto"
            useGeneratedKeys="true" keyProperty="id">
        insert into device_floatingip_route
        (
        floating_ip_address,
        tx_averateLimit,
        rx_averateLimit,
        device_ip
        )
        values
        <foreach collection ="list" item="route" separator =",">
        (
        #{route.floatingIpAddress},
        #{route.txAverateLimit},
        #{route.rxAverateLimit},
        #{route.deviceIp}
        )
        </foreach >
    </insert>


</mapper>

