<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3cloud.pco.mapper.neutron.floatingip.FloatingIpMapper">

    <resultMap id="floatingIpsMap" type="com.uca.network.extension.mapper.floatingip.dto.FloatingIpDto">
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="extra" jdbcType="VARCHAR" property="extra"/>
        <result column="floating_ip_address" jdbcType="VARCHAR" property="floatingIpAddress"/>
        <result column="fixed_port_id" jdbcType="VARCHAR" property="fixedPortId"/>
        <result column="fixed_ip_address" jdbcType="VARCHAR" property="fixedIpAddress"/>
    </resultMap>

    <select id="queryFloatingIpsByParam" resultMap="floatingIpsMap">
        select project_id,id,extra,floating_ip_address,fixed_port_id,fixed_ip_address
        from
        neutron.floatingips where 1 = 1
        <if test="projectId!=null">
            and project_id = #{projectId}
        </if>
        <if test="ipAddress!=null">
            and floating_ip_address like concat('%', #{ipAddress}, '%')
        </if>
    </select>


    <select id="queryAllFloatingIps" resultMap="floatingIpsMap">
        select project_id,id,extra,floating_ip_address,fixed_port_id,fixed_ip_address
        from neutron.floatingips
    </select>

</mapper>

