<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uca.network.extension.mapper.reservedip.ReservedIpallocationsMapper">

    <select id="queryReservedIpByIpAddress" resultType="com.uca.network.extension.mapper.reservedip.dto.ReservedIpDto">
        select *  from ipallocations where 1 = 1
        <if test="subnetId !=null ">
            and subnet_id = #{subnetId}
        </if>
        <if test="ipAddress != null">
            and ip_address = #{networkId}
        </if>

    </select>

    <select id="queryReservedIpByAllocated" resultType="com.uca.network.extension.mapper.reservedip.dto.ReservedIpDto">
        select *  from ipallocations where 1 = 1
            and allocated = 2
    </select>


    <insert id = "insertReservedIp" parameterType="com.uca.network.extension.mapper.reservedip.dto.ReservedIpDto">
        insert into ipallocations
        (
        ip_address,
        subnet_id,
        network_id,
        allocated,
        created_at,
        updated_at,
        reserved_tenantId,
        reserved_description
        )
        values
        (
        #{ipAddress},
        #{subnetId},
        #{networkId},
        #{createdAt},
        #{updatedAt},
        #{allocated},
        #{reservedTenantId},
        #{reservedDescription}
        )
    </insert>

    <delete id="deleteReservedIpByIpAddress">
        delete from ipallocations where ip_address = #{ipAddress}
    </delete>

</mapper>

